{% extends "layout.html" %}

{% block title %}
View Orders
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/viewOrders.css') }}">
{% endblock%}



{% block body %}

<div class="orders-container">

    <h1>Customer Orders</h1>

    <table>

        <thead>

            <tr>
                <th>Order ID</th>

                <th>Customer</th>

                <th>Total</th>

                <th>Date</th>

                <th>Details</th>
            </tr>

        </thead>

        <tbody>

        {% for order in orders %}

            <tr>

                <td>{{ order.id }}</td>

                <td>{{ order.name }}</td>

                <td>₦{{ "{:,.2f}".format(order.total) }}</td>

                <td>{{ order.order_date }}</td>

                <td>

                    <a href="/orderDetails/{{ order.id }}">View </a>
                </td>


            </tr>

        {% endfor %}

        </tbody>

    </table>

    <br>

    <a href="/adminDashboard"> Back to Dashboard <a>


</div>

{% endblock %}
